body {
    font-family: Arial, sans-serif;
    background-color: #e4edf1;
    margin: 0;
    padding: 0;
    
}

.login-container {
    max-width: max-content;
    margin: 100px auto;
    padding: 20px;
    background-color: #f8fffc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* h1{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #020408;
}
h2{
    color: black;
} */

.login-container h2 {
    text-align: center;
}

/* .h2{
    font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #084f82;
}

.account-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}